@import "./base/reset.scss";
@import "./breakpoint-mixin.scss";

// Preconnect to Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap") all;

// Set font-family for all text
body {
  font-family: "Poppins", sans-serif;
}

@include mobile-small {
  // Styles for header
  header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 16px;
        text-transform: uppercase;
      }

      ul {
        visibility: hidden;
        width: 65%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        list-style: none;

        li {
          a {
            font-size: 6px;
          }
        }
      }
    }
  }

  main {
    padding: 0 15px;

    section {
      margin: 10px 0;
    }

    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-image: url("/src/assets/images/background\ \(2\).jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 75vh;
      padding: 0 10vh;
      color: white;
      border-radius: 10px;

      h2,
      p,
      a {
        margin: 10px 0px;
      }

      h2 {
        font-size: 16px;
      }

      p {
        font-size: 6px;
        color: #dddddd;
      }

      a {
        font-size: 8px;
        background-color: #007bff;
        padding: 8px 14px;
        border-radius: 8px;
      }
    }

    .section-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2,
      p {
        margin: 10px 0;
      }

      h2 {
        font-size: 15px;
      }

      p {
        font-size: 6px;
      }
    }

    .section-achievements {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;

        .card {
          flex: 1 1 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 20px 10px;
          border-radius: 10px;
          background-color: #e3dffb;
          color: #1a237e;

          i {
            font-size: 14px;
          }

          h3 {
            font-size: 8px;
          }

          p {
            font-size: 6px;
          }
        }
      }
    }

    .section-work {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: #fff;
          background-image: url("/src/assets/images/background-los-santos\ \(1\).jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 25vh;
          padding: 20px;
          border-radius: 10px;
          position: relative;

          .box-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              1turn,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.4)
            );
            z-index: 1;
            border-radius: 10px;
          }

          h3,
          a {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 15px;
          }

          a {
            font-size: 10px;
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid #ffce34;
            padding: 5px 15px;
            border-radius: 10px;
          }
        }
      }
    }

    .section-media {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          height: 50vh;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-image: url("/src/assets/images/background-media\ \(1\).jpg");
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
}

@include mobile-medium {
  // Styles for header
  header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 16px;
        text-transform: uppercase;
      }

      ul {
        visibility: hidden;
        width: 65%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        list-style: none;

        li {
          a {
            font-size: 6px;
          }
        }
      }
    }
  }

  main {
    padding: 0 15px;

    section {
      margin: 10px 0;
    }

    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-image: url("/src/assets/images/background\ \(2\).jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 75vh;
      padding: 0 10vh;
      color: white;
      border-radius: 10px;

      h2,
      p,
      a {
        margin: 10px 0px;
      }

      h2 {
        font-size: 18px;
      }

      p {
        font-size: 8px;
        color: #dddddd;
      }

      a {
        font-size: 8px;
        background-color: #007bff;
        padding: 8px 14px;
        border-radius: 8px;
      }
    }

    .section-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2,
      p {
        margin: 10px 0;
      }

      h2 {
        font-size: 15px;
      }

      p {
        font-size: 8px;
      }
    }

    .section-achievements {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;

        .card {
          flex: 1 1 30%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 20px 10px;
          border-radius: 10px;
          background-color: #e3dffb;
          color: #1a237e;

          i {
            font-size: 14px;
          }

          h3 {
            font-size: 8px;
            margin: 5px 0;
          }

          p {
            font-size: 6px;
          }
        }
      }
    }

    .section-work {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: #fff;
          background-image: url("/src/assets/images/background-los-santos\ \(1\).jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 25vh;
          padding: 20px;
          border-radius: 10px;
          position: relative;

          .box-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              1turn,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.4)
            );
            z-index: 1;
            border-radius: 10px;
          }

          h3,
          a {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 15px;
          }

          a {
            font-size: 10px;
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid #ffce34;
            padding: 5px 15px;
            border-radius: 10px;
          }
        }
      }
    }

    .section-media {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          height: 50vh;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-image: url("/src/assets/images/background-media\ \(1\).jpg");
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
}

@include mobile-large {
  // Styles for header
  header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 18px;
        text-transform: uppercase;
      }

      ul {
        visibility: hidden;
        width: 65%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        list-style: none;

        li {
          a {
            font-size: 6px;
          }
        }
      }
    }
  }

  main {
    padding: 0 15px;

    section {
      margin: 10px 0;
    }

    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-image: url("/src/assets/images/background\ \(2\).jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 75vh;
      padding: 0 10vh;
      color: white;
      border-radius: 10px;

      h2,
      p,
      a {
        margin: 10px 0px;
      }

      h2 {
        font-size: 25px;
      }

      p {
        font-size: 8px;
        color: #dddddd;
      }

      a {
        font-size: 8px;
        background-color: #007bff;
        padding: 8px 14px;
        border-radius: 8px;
      }
    }

    .section-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2,
      p {
        margin: 10px 0;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 10px;
      }
    }

    .section-achievements {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;

        .card {
          flex: 1 1 30%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 20px 10px;
          border-radius: 10px;
          background-color: #e3dffb;
          color: #1a237e;

          i {
            font-size: 18px;
          }

          h3 {
            font-size: 12px;
            margin: 5px 0;
          }

          p {
            font-size: 8px;
          }
        }
      }
    }

    .section-work {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: #fff;
          background-image: url("/src/assets/images/background-los-santos\ \(1\).jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 25vh;
          padding: 20px;
          border-radius: 10px;
          position: relative;

          .box-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              1turn,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.4)
            );
            z-index: 1;
            border-radius: 10px;
          }

          h3,
          a {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 15px;
          }

          a {
            font-size: 10px;
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid #ffce34;
            padding: 5px 15px;
            border-radius: 10px;
          }
        }
      }
    }

    .section-media {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          height: 50vh;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-image: url("/src/assets/images/background-media\ \(1\).jpg");
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
}

@include tablet {
  // Styles for header
  header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 20px;
        text-transform: uppercase;
      }

      ul {
        width: 55%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        list-style: none;

        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  main {
    padding: 0 50px;

    section {
      margin: 30px 0;
    }

    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-image: url("/src/assets/images/background\ \(2\).jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 75vh;
      padding: 0 10vh;
      color: white;
      border-radius: 10px;

      h2,
      p,
      a {
        margin: 10px 0px;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 12px;
        color: #dddddd;
      }

      a {
        font-size: 12px;
        background-color: #007bff;
        padding: 8px 14px;
        border-radius: 8px;
      }
    }

    .section-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2,
      p {
        margin: 10px 0;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    .section-achievements {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 20px;

        .card {
          flex: 1 1 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 25px 10px;
          border-radius: 10px;
          background-color: #e3dffb;
          text-align: center;
          color: #1a237e;

          i {
            font-size: 20px;
          }

          h3 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .section-work {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: #fff;
          background-image: url("/src/assets/images/background-los-santos\ \(1\).jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 40vh;
          padding: 20px;
          border-radius: 10px;
          position: relative;

          .box-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              1turn,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.4)
            );
            z-index: 1;
            border-radius: 10px;
          }

          h3,
          a {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 18px;
          }

          a {
            font-size: 14px;
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid #ffce34;
            padding: 5px 15px;
            border-radius: 10px;
          }
        }
      }
    }

    .section-media {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex: 1 1 30%;
        gap: 20px;
        margin-top: 20px;

        .card {
          height: 75vh;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-image: url("/src/assets/images/background-media\ \(1\).jpg");
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
}

@include laptop-small {
  // Styles for header
  header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 18px;
        text-transform: uppercase;
      }

      ul {
        width: 45%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        list-style: none;

        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  main {
    padding: 0 120px;

    section {
      margin: 30px 0;
    }

    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-image: url("/src/assets/images/background\ \(2\).jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 75vh;
      padding: 0 10vh;
      color: white;
      border-radius: 10px;

      h2,
      p,
      a {
        margin: 10px 0px;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 12px;
        color: #dddddd;
      }

      a {
        font-size: 12px;
        background-color: #007bff;
        padding: 8px 14px;
        border-radius: 8px;
      }
    }

    .section-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2,
      p {
        margin: 10px 0;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }

    .section-achievements {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 20px;

        .card {
          flex: 1 1 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 25px;
          border-radius: 10px;
          background-color: #e3dffb;
          color: #1a237e;

          i {
            font-size: 16px;
          }

          h3 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .section-work {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: #fff;
          background-image: url("/src/assets/images/background-los-santos\ \(1\).jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 40vh;
          padding: 20px;
          border-radius: 10px;
          position: relative;

          .box-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              1turn,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.4)
            );
            z-index: 1;
            border-radius: 10px;
          }

          h3,
          a {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 15px;
          }

          a {
            font-size: 14px;
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid #ffce34;
            padding: 5px 15px;
            border-radius: 10px;
          }
        }
      }
    }

    .section-media {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex: 1 1 30%;
        gap: 20px;
        margin-top: 20px;

        .card {
          height: 75vh;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-image: url("/src/assets/images/background-media\ \(1\).jpg");
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
}

@include laptop-medium {
  // Styles for header
  header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 20px;
        text-transform: uppercase;
      }

      ul {
        width: 40%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        list-style: none;

        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  main {
    padding: 0 120px;

    section {
      margin: 30px 0;
    }

    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-image: url("/src/assets/images/background\ \(2\).jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 75vh;
      padding: 0 10vh;
      color: white;
      border-radius: 10px;

      h2,
      p,
      a {
        margin: 10px 0px;
      }

      h2 {
        font-size: 60px;
      }

      p {
        font-size: 14px;
        color: #dddddd;
      }

      a {
        background-color: #007bff;
        padding: 8px 14px;
        border-radius: 8px;
      }
    }

    .section-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2,
      p {
        margin: 10px 0;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }

    .section-achievements {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 20px;

        .card {
          flex: 1 1 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 25px;
          border-radius: 10px;
          background-color: #e3dffb;
          color: #1a237e;

          i {
            font-size: 25px;
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .section-work {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: #fff;
          background-image: url("/src/assets/images/background-los-santos\ \(1\).jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 40vh;
          padding: 20px;
          border-radius: 10px;
          position: relative;

          .box-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              1turn,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.4)
            );
            z-index: 1;
            border-radius: 10px;
          }

          h3,
          a {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 25px;
          }

          a {
            font-size: 18px;
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid #ffce34;
            padding: 5px 15px;
            border-radius: 10px;
          }
        }
      }
    }

    .section-media {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex: 1 1 30%;
        gap: 20px;
        margin-top: 20px;

        .card {
          height: 75vh;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-image: url("/src/assets/images/background-media\ \(1\).jpg");
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
}

@include laptop-large {
  // Styles for header
  header {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    width: 100%;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 20px;
        text-transform: uppercase;
      }

      ul {
        width: 40%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        list-style: none;

        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  main {
    padding: 0 120px;

    section {
      margin: 30px 0;
    }

    .section-home {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-image: url("/src/assets/images/background\ \(2\).jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 75vh;
      padding: 0 10vh;
      color: white;
      border-radius: 10px;

      h2,
      p,
      a {
        margin: 10px 0px;
      }

      h2 {
        font-size: 60px;
      }

      p {
        font-size: 14px;
        color: #dddddd;
      }

      a {
        background-color: #007bff;
        padding: 8px 14px;
        border-radius: 8px;
      }
    }

    .section-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2,
      p {
        margin: 10px 0;
      }

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 16px;
      }
    }

    .section-achievements {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 20px;

        .card {
          flex: 1 1 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 25px;
          border-radius: 10px;
          background-color: #e3dffb;
          color: #1a237e;

          i {
            font-size: 25px;
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .section-work {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;

        .card {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          color: #fff;
          background-image: url("/src/assets/images/background-los-santos\ \(1\).jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 40vh;
          padding: 20px;
          border-radius: 10px;
          position: relative;

          .box-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              1turn,
              rgba(0, 0, 0, 1),
              rgba(0, 0, 0, 0.4)
            );
            z-index: 1;
            border-radius: 10px;
          }

          h3,
          a {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 25px;
          }

          a {
            font-size: 18px;
            background-color: rgba(0, 0, 0, 1);
            border: 2px solid #ffce34;
            padding: 5px 15px;
            border-radius: 10px;
          }
        }
      }
    }

    .section-media {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        flex: 1 1 30%;
        gap: 20px;
        margin-top: 20px;

        .card {
          height: 75vh;
          width: 100%;
          border-radius: 10px;
          background-size: cover;
          background-image: url("/src/assets/images/background-media\ \(1\).jpg");
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 20px 0px;
  }
}
